body{
    background-color: hsla(112, 60%, 36%, 0.144);
    margin:0;
    overflow-x: hidden;
   
}
body{
  width: 100vw; 
}
/*body::-webkit-scrollbar {
    width: 0;
    height: 0;
  }*/
  
.container {
    border: 0;
    margin: 0;
    
}
.info{
    text-align: justify;
    margin: 0 10%;
    font-family: 'Montserrat';

}
.container .title{
    text-align: center;
    font-family: 'Viga';
    font-weight: bolder;
    font-size: 40px;
    margin-top: 4%;
}
.boxes {
    margin-bottom: 10%;
    margin-top: 5%;
}
.box{
    display: inline-block;
    content: '';
    position: relative;
   width: 25%;
   object-fit: contain;
   margin-right: 5%;
   overflow: hidden;
}


.boxes .box:first-child{
    margin-left: 7%;
}
.box img{
    position: relative;
    width: 100%;   height: 100%;
    transform: perspective(1000px) rotateX(0deg);
    transition: .9s;
    backface-visibility: hidden;
    border-radius: 10px;

}
.box:hover img{
    transform: perspective(1000px) rotateX(-180deg);
}
.box .content{
    position: absolute;
    top: 0;  left: 0;
    width: 100%;   height: 100%;
    background: linear-gradient( 90deg, #505050 0% 50% , #323232 50% 100%);
    color: #fff;
    transform: perspective(1000px) rotateX(180deg);
    border-radius: 10px;
    transition: .9s;
    backface-visibility: hidden;
    
}
.box:hover .content{
    transform: perspective(1000px) rotateX(0deg);
}
.box .content .center{
    position: absolute;
    top: 50%;  left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.center p{
    word-wrap: break-word ;
    overflow-wrap: break-word;
font-size: 1em;
    text-align: justify;
    width: 95%;
    margin-left: 5px;
    margin-right: 5px;
  }
.box .content h1{
    font-size: 20px;
    font-family: 'Viga';
}
.box .content h1 span{
    font-size: 16px;
    color: #c1c1c1;
}
/*.imgOverlay{
    position: relative;
}
#banner , #animals_background {
    display: block;
    width: 100%;
    object-fit: contain;
    margin-top: -10%;

}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 35, 35, 0.5);
  }*/
footer {
    background-color: #1A8F07;
    margin-top: auto;
    padding: 20px;
    font-family: 'Montserrat';
}

.footer-top {
    text-align: center;
}

.footer-top img {
    width: 260px;
    height: 180px;
    max-width: 100%;
    object-fit: contain;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom p {
    margin: 0;
    color: white;
}

.footer-bottom ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-bottom li {
    display: inline-block;
    margin-right: 10px;
}

.footer-bottom li a {
    color: white;
    text-decoration: none;
}

.footer-bottom li:last-child {
    margin-right: 0;
}
@media screen and ( min-width:730px) and (max-width:1000px) {
.center p{
    font-size: 0.7em;
}
.box .content h1{
    font-size: 15px;
    font-family: 'Viga';
}
}
@media screen and ( min-width:450px) and (max-width:730px) {
    .center p{
        font-size: 0.5em;
    }
    .box .content h1{
        font-size: 10px;
        font-family: 'Viga';
    }
    }
@media screen and (max-width: 450px) {
    .container .title{
        text-align: center;
        font-family: 'Viga';
        font-weight: bolder;
        font-size: 30px;
        margin-top: 4%;
    }
    .box{
    display:block;
    width:80%;
    margin:4% 10%;
   }
   .boxes .box:first-child{
    margin-left: 10%;
    
}
    .box .content h1{
        font-size: 15px;
    }
    .box .content h1 span{
        font-size: 10px;
        color: #c1c1c1;
    }
}

@media screen and (max-width: 768px) {
    .footer-bottom {
        flex-direction: column;
    }

    .footer-top img {
        width: 180px;
        height: 115px;
        max-width: 100%;
    }
    
}