body {
  overflow-x: hidden;

  width: 100vw;
  height: 1000vh;
  padding: 0;
  margin: 0;
}
.body--dark--mode {
  background-color: rgb(0, 63, 5);
}
.body--dark--mode label {
  color: antiquewhite;
}
.body--dark--mode h2 {
  color: antiquewhite;
}
.body--dark--mode div.q-a {
  background-color: #167508;
}
:root {
  --color1: #232323;
  --color2: #fff;
  --color3: #1a8f07;
  --transitionDuration: 1s;
}
.slider-container {
  align-items: center;
}

.search-animals {
  border: none;
  background-color: transparent;
  font-family: "Viga";
  font-size: medium;
}
.search-animals:focus {
  border: none;
  background-color: transparent;
  font-family: "Viga";
  font-size: medium;
  outline: none;
}
/* Reset Default Settings */

body {
  background-color: hsla(112, 60%, 36%, 0.144);
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: auto;
}

.section__image {
  width: 100%;
  height: auto;
}
span,
h2 {
  font-family: "Viga";
}
.card {
  background-color: var(--color1);
  color: var(--color2);
  width: 320px;
  height: 455px;
  letter-spacing: 1px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card::before {
  color: var(--color3);
  width: fit-content;
  height: fit-content;
  font-size: 200px;
  font-weight: bold;
  font-style: italic;
  opacity: 15%;
  content: "";
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.card::after {
  background-color: var(--color3);
  width: 1000px;
  height: 210px;
  z-index: 0;
  transition-duration: calc(var(--transitionDuration) / 2);
  transition-property: width, height, transform;
  transition-timing-function: ease-in-out;

  content: "";
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(45%, -45%);
}

.card:hover::after {
  width: 500px;
  height: 550px;
  transform: translate(30%, -62%);
}

.card__img {
  width: 270px;
  height: 130px;
  z-index: 1;
  transition: top var(--transitionDuration);
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.card:hover .card__img {
  top: 24%;
}

.card__title {
  font-weight: 600;
  transition: top var(--transitionDuration);

  position: absolute;

  top: 83%;
}

.card:hover .card__title {
  top: 50%;
}

.card__content {
  height: 70px;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  opacity: 0;
  transition: top var(--transitionDuration),
    opacity var(--transitionDuration) calc(var(--transitionDuration) / 2);

  position: absolute;
  left: 50%;
  top: 150%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover .card__content {
  opacity: 100%;
  top: 70%;
}

.card__sizeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__sizeNumber {
  background-color: var(--color2);
  color: var(--color1);
  height: 26px;
  width: auto;
  white-space: nowrap;

  padding: 5px 7px;
  margin: 0 5px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;

  /* Flex */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__sizeNumber:hover {
  background-color: var(--color3);
}

.card__colorContainer {
  /* Flex */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__colorCircle {
  background-color: var(--color2);
  color: var(--color1);
  width: fit-content;
  height: 26px;
  padding: 5px 7px;
  margin: 0 5px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
}

.card__colorCircle:hover {
  outline: solid 2px var(--color2);
}

.card__link {
  background-color: var(--color2);
  color: var(--color1);
  padding: 10px 35px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 3px;
  transition: top var(--transitionDuration);

  position: absolute;
  left: 50%;
  top: 250%;
  transform: translate(-50%, -50%);
}

.card:hover .card__link {
  top: 92%;
}

.card__link:hover {
  background-color: var(--color3);
}

/* .animals__right__container:hover > .card:not(:hover) .card__img {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
} */

.animals__headline {
  width: 100%;
  height: 30vh;
}
.animals__main__container {
  width: 100%;
  height: 100%;
  display: flex;
}
.animals__left__container {
  width: 20%;
  margin-top: 30px;
}
.animals__right__container {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 80px;
  row-gap: 0px;
  align-items: stretch;
}

.animals__right__container .card {
  margin: 50px;
}

.toggle-box {
  display: none;
}

.toggle-box + label {
  cursor: pointer;
  display: block;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 5px;
  font-family: "Viga";
}

.toggle-box + label + div {
  display: none;
  margin-bottom: 10px;
  font-family: "Montserrat";
}

.toggle-box:checked + label + div {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
}

.toggle-box + label:before {
  background-color: #4f5150;
  border-radius: 10px;
  color: #ffffff;
  content: "+";
  display: block;
  float: left;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
  text-align: center;
  width: 20px;
}

.toggle-box:checked + label:before {
  content: "\2212";
}

.q-a {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
  font-size: 1.3rem;
}
.q-a-search {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px;
  margin: 15px;
  font-size: 1.3rem;
}
input[type="checkbox"] {
  position: relative;
  border: 2px solid #000;
  border-radius: 2px;
  background: none;
  cursor: pointer;
  line-height: 0;
  margin: 0 0.6em 0 0;
  outline: 0;
  padding: 0 !important;
  vertical-align: text-top;
  height: 20px;
  width: 20px;

  opacity: 0.5;
}

input[type="checkbox"]:hover {
  opacity: 1;
}

input[type="checkbox"]:checked {
  background-color: #000;
  opacity: 1;
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  right: 50%;
  top: 50%;
  width: 4px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  margin: -1px -1px 0 -1px;
  transform: rotate(45deg) translate(-50%, -50%);
  z-index: 2;
}
@media screen and (max-width: 500px) {
  .animals__main__container {
    flex-direction: column;
  }
  .animals__left__container {
    width: 100%;
  }
  .animals__right__container {
    width: 100%;
  }
  .animals__right__container .card {
    margin: 30px;
  }
}
