
body {
    background-color: rgba(52, 146, 37, 0.20);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    transition: background-color 200ms ease-in;
}

body {
    display: flex;
    flex-direction: column;
}

/*****************
settings 
****************************************************************/

.button__combo {
    display: flex;
    align-items: center;
  
  }
  
  .fas {
    padding: 4rem;
    transition: color 200ms ease-in;
  }
  
  .toggle__wrapper {
    width: 100px;
    height: 50px;
    position: relative;
    border-radius: 100px;
    background: radial-gradient(circle, rgb(119, 255, 167) 0%, rgba(0,0,0,1) 100%);
    box-shadow: 0 0 2px black;
    overflow: hidden;
    cursor: pointer;
  }
  
  .toggle__button {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(132, 196, 146) 60%, rgb(116, 189, 132) 70%, rgb(0, 52, 10) 90%);
    box-shadow: 0 5px 20px black;
    border-radius: 50%;
    transition: transform 200ms ease-in;
  }
  
  /* Class JS Dark Mode */
  
  .toogle--movement {
    transform: translate3d(100%, 0, 0);
  }
  
  .body--dark--mode {
    background-color: rgb(0, 63, 5);
  }
   
  .body--dark--mode h2 {
    color: antiquewhite;
  }
  .body--dark--mode h1 {
    color: antiquewhite;
  }
.container {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    margin: 0 auto;
   padding-top: 20px;

    padding-left: 0;
}

h1 {
    font-family: 'Viga';
    font-size: 4vw;
    text-align: center;
    margin-top: 0;
    color: black;
    font-weight: bolder;
}

.section {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Viga';
    font-size: 2vw;
    margin-top: 0;
    margin-bottom: 1px;
    color: black;
   
}

span.span {
    display: block;
    width: 100%;
    height: 2px;
    background: #1A8F07;
    margin-bottom: 5px;
}

.button {
    border: none;
    background-color: #10ea17a9;
    color: #fff;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 1rem;
    font-family: 'Montserrat';
    cursor: pointer;
    
    margin-bottom: 10px;
}

.button:hover {
    color: #1A8F07;
    box-shadow: 0 0px 10px rgba(118, 250, 2, 0.732);
}

.theme-buttons {
    display: flex;
}

.theme-button.active {
    background-color: #333;
}

.language-select {
    font-size: 1rem;
    padding: 8px;
    border-radius: 4px;
    border: none;
    margin-top: 10px;
}


@media only screen and (max-width: 600px) {

    h1 {
        font-size: 7vw;
        text-align: center;
        margin-top: 0;
    }

    h2 {
        font-size: 5vw;
        margin-top: 0;
    }

    .section {
        text-align: center;
    }

    .theme-buttons {
        display: block;
    }
}


/****************************************************************
export menu
****************************************************************/

.hidden {
    display: none;
}

#export-panel {
    position: static;
    border-radius: 4px;
    background-color: #0a3104;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

#export-panel h2 {
    margin-top: 0;
    color:white
}

#export-panel p {
    margin-top: 10px;
}

#export-panel p {
    color: white;
}

#export-panel label {
    color: white;
}

#export-panel div {
    margin-top: 10px;
}

#export-panel input[type=radio],
#export-panel input[type=checkbox] {
    margin-right: 10px;
}

#export-panel label {
    font-weight: bold;
}

#export-panel button {
    margin-top: 20px;
}


select {
    padding: 8px;
    border-radius: 4px;
    border: none;
    font-size: 1rem;
    margin-top: 10px;
    background-color: #fff;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

select:hover {
    transition: 0.3s;
    box-shadow: 0 0px 10px rgba(118, 250, 2, 0.732);
}



@media only screen and (max-width: 600px) {
    #export-panel {
        text-align: left;
    }
    
.button__combo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


