html,body {
    background-color: rgba(52, 146, 37, 0.20);
    margin: 0;
    margin-right: -1px;
    padding: 0;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

/****************************************************************
Start
****************************************************************/
.start-image-container {
    position: relative;
    width: 100%;
    max-height: 700px;
    margin: 0;
}

.start-image-container img {
    position: relative;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 700px;
    object-fit: cover;
    border: 1px solid black;
}

.start-text-container {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    color: white;
    font-size: 2.5vw;
    max-width: 50%;
}

.start-text-animals-container {
    display: flex;
    justify-content: space-between;
}

.start-text-animals-text {
    color: white;
    text-decoration: none;
    
}

@media (max-width: 800px){
    .start-text-container {
        font-size: 3vw;
        max-width: 60%;
    }
}


@media (max-width: 744px) {

    .start-image-container img {
        content: url('../pictures/indPic/liondarkbutsmaller.jpg');
    }

    .start-image-container {
        min-height: 300px;
    }

    .start-text-container {
        font-size: 4vw;
        max-width: 60%;
    }
}

/********************************
    Animal Categories
**********************************************************/

.animal-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.animal-category {
    width: 33.33%;
    margin: 0;
    position: relative;
    text-align: center;
    max-width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animal-category img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.animal-category-text {
    font-size: 36px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subtitle {
    position: absolute;
    top: 60%;
    font-size: 20px;
    color: white;
    color: transparent;
    margin: 2px;;
}

.animal-category:hover .subtitle{
    transition: color 1s ease;
    color: white
}

.image-darken{
    transition: 1s;
    filter:brightness(0%);
}

@media screen and (max-width: 1024px) {
    .animal-category {
        width: 50%;
    }

}

@media screen and (max-width: 744px) {
    .animal-category {
        width: 100%;
        height: 300px;
    }
}