html,
body {
    background-color: rgba(52, 146, 37, 0.20);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

.start-image-container {
    position: relative;
    width: 100%;
    max-height: 700px;
    margin: 0;
}

.start-image-container img {
    position: relative;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 700px;
    object-fit: cover;
    border: 1px solid black;
}

@media (max-width: 744px) {

    .start-image-container img {
        content: url('amphbutsmaller.jpg');
    }

    .start-image-container {
        min-height: 300px;
    }

}


/* =================================================================
introd
================================================================*/


.introd-container {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to bottom right, #008000, #00ff00);
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 2px 10px black;
}


.defining-traits,
.science-scheme {
    flex-basis: 50%;
    padding: 20px;
    color: white;
}

.defining-traits ul {
    list-style: disc;
    line-height: 30px;
}

.science-scheme dl {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
}

.science-scheme dt {
    font-weight: bold;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}


@media screen and (max-width: 744px) {

    .introd-container h2 {
        text-align: center;
    }

    .introd-container {
        flex-direction: column-reverse;
    }


    .defining-traits,
    .science-scheme {
        flex-basis: 100%;

    }

    .defining-traits {
        font-size: 1rem;
    }

    .defining-traits h2 {
        font-size: 2rem;
    }

    .science-scheme {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .science-scheme h2 {
        margin-bottom: 0;
    }

    .science-scheme hr {
        display: none;
    }


}


/*================================================================
second cont
================================================*/

.second-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px
}

.second-container h2 {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-size: 4vw;
}

.second-container>div {
    flex-basis: 50%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 2.2vw;
}

.second-container-text {
    background-image: linear-gradient(to top right, #008000, #00ff00);
    border-radius: 10px;
    box-shadow: 0px 2px 10px black;
}

.second-container h2 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.slider-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.slider {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
}

.slider img:not(:first-child) {
    opacity: 0;
}

.slider-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.slider-prev,
.slider-next {
    background-color: #008000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.slider-prev:hover,
.slider-next:hover {
    background-color: #00ff00;
}

.slider-prev[disabled],
.slider-next[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

.slider-prev::before {
    content: "<";
    margin-right: 5px;
}

.slider-next::after {
    content: ">";
    margin-left: 5px;
}

@media screen and (max-width: 744px) {
    .second-container h2 {
        font-size: 6vw;
    }

    .second-container>div {
        flex-basis: 100%;
        font-size: 3.5vw;
    }
}

/* =================================================================
small filter
================================================================*/

.animals-section-filter {
    background-image: linear-gradient(to top right, #008000, #00ff00);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.animals-section-filter h2 {
    text-transform: uppercase;
    text-align: center;
}

.animals-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.animal-grid img {
    max-width: 100%;
    height: auto;
    margin: 10px;
}


@media (max-width: 618px) {
    .animals-grid img {
        width: 100%;
    }
}


/********************************
filtersec
****************************************************************/

.filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filter-section {
    margin-bottom: 15px;
    flex-basis: calc(25% - 15px);
    margin-right: 10px;
    box-sizing: border-box;
}

.filter-section h3 {
    font-size: 1vw;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #333;
}

input[type="text"],
select {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #666;
    font-size: 14px;
    padding: 8px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.animals-section-filter select {
    background-color: #fff;
    color: #000;
}

select {
    background-color: transparent;
    background-position: right 8px center;
    background-repeat: no-repeat;
    background-size: 12px;
    background: linear-gradient(to right, transparent 0%, transparent calc(100% - 20px), #ccc calc(100% - 20px), #ccc 100%);
    cursor: pointer;
    padding-right: 20px;
}


@media only screen and (max-width: 768px) {
    .filter-section {
        flex-basis: 33%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .filter-section:first-child {
        flex-basis: 100%;
        order: -1;
    }

    .filter-section h3 {
        font-size: 2vw;
    }
}


@media only screen and (max-width: 480px) {
    .filter-section {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .filter-section {
        order: -1;
    }

    .filter-section h3 {
        font-size: 2.5vw;
    }
}


/****************************************************************
nav
***********************************************************/

.imgOverlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

#banner {
    display: block;
    width: 100%;
    object-fit: contain;
    margin-top: -10%;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 35, 35, 0.5);
}

.nav_container {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    transform: translate(0, 20%);
    padding-top: 50px;
}

.nav {
    position: absolute;
    display: grid;

    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    margin: auto;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Viga';
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.logo {

    width: 80%;
    height: auto;
    margin: 0;
    padding: 0;
}

a img.profile {
    width: 60%;

}

a img.sign {
    width: 60%;
}

.nav a {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.nav a#menu_item1:hover {
    transform: translateY(-5px);
}

.nav a#menu_item2:hover {
    transform: translateY(-5px);

}

.nav a#menu_item3:hover {
    transform: translateY(-5px);

}

.nav a#menu_item4:hover {
    transform: translateY(-5px);
}

.nav a#menu_item5:hover {
    transform: translateY(-5px);
}

.nav a#menu_item6:hover {
    transform: translateY(-5px);
}

.nav a#menu_item7:hover {
    transform: translateY(-5px);
}

.main-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background: #dfdce3;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all 0.375s;
}

.main-nav.is-open {
    opacity: 1;
    z-index: 100;
    visibility: visible;
}

.main-nav::before {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: -15px;
    background: #198f07a6;
    transform-origin: 0 0;
    transform: skew(-14deg) translateX(-120%);
    transition: all 0.275s 0.1s;
}

.main-nav.is-open::before {
    transform: skew(-14deg) translateX(0);
}

.main-nav img {
    display: block;
    position: absolute;

}

.main-nav #sign {
    margin-left: 20%;
    margin-top: 2%;
}

.main-nav ul {
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    transform: translateX(-18%) skew(-16deg);
}

.main-nav li {
    display: block;
    margin: 0.5rem 0;
    text-align: right;
    transform: skew(16deg);
}

.main-nav a {
    opacity: 0;
    transform: translateY(-10px);
}

.main-nav.is-open a {
    opacity: 1;
    font-size: 3vw;
    transform: translateY(0);
}

.main-nav li:nth-child(1) a {
    transition: all 275ms 175ms;
}

.main-nav li:nth-child(2) a {
    transition: all 275ms 225ms;
}

.main-nav li:nth-child(3) a {
    transition: all 275ms 275ms;
}

.main-nav li:nth-child(4) a {
    transition: all 275ms 325ms;
}

.main-nav li:nth-child(5) a {
    transition: all 275ms 375ms;
}

.main-nav ul,
.main-nav li {
    list-style: none;
    padding: 0;
}

.main-nav p a {
    display: block;
    padding: 12px 0;
    color: #f5f5f5;
    font-size: 1.4em;
    text-decoration: none;
    font-weight: bold;
}

.main-nav p a img {
    position: relative;
    width: 100px;
    left: 1rem;
    top: 1rem;
}



.open-main-nav {
    position: fixed;
    top: 15px;
    padding-top: 20px;
    right: 15px;
    z-index: 1000;
    background: none;
    border: 0;
    cursor: pointer;
}

.open-main-nav:focus {
    outline: none;
}

.burger {
    position: relative;
    display: block;
    width: 28px;
    height: 4px;
    margin: 0 auto;
    background: #dfdce3;
    transform: skew(5deg);
    transition: all 0.275s;
}

.burger:after,
.burger:before {
    content: "";
    display: block;
    height: 100%;
    background: #dfdce3;
    transition: all 0.275s;
}

.burger:after {
    transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.burger:before {
    transform: translateY(-16px) skew(-10deg);
}

.is-open .burger {
    transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open .burger:before {
    transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .burger:after {
    transform: translateY(-12px) translateX(10px) skew(-20deg);
    opacity: 0;
}

.burger-text {
    display: block;
    font-size: 0.75rem;
    letter-spacing: 0.05em;
    margin-top: 0.5em;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    color: #dfdce3;
}

.mimages-cont {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 90%;
    margin-top: 40px;
    margin-left: 10px;
}

#prof1 {
    max-width: 10%;
    height: auto;
}

#sign1 {
    max-width: 10%;
    height: auto;
    margin-left: 80px;
}


@media only screen and (max-width: 900px) {
    .nav {
        display: none;
    }
}

@media only screen and (min-width: 900px) {
    #burger {
        display: none;
    }
}


@media screen and (max-width: 744px) {
    .main-nav.is-open a {
        font-size: 5vw;
    }
}

@media only screen and (max-width: 300px) {

    #prof1,
    #sign1 {
        width: 80%;

    }

    #sign1 {
        margin-left: 50px;
    }
}