.navbar__container {
  display: flex;
  height: 200px;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

#animals_background {
  width: 100vw;
  height: 10rem;
  position: absolute;
  top: 0;
}

#navbar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;
  margin-inline-start: 5rem;
  margin-inline-end: 5rem;
}

#navbar a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  position: relative;
}

.navbar__logo {
  width: 100px;
  position: relative;
  bottom: 1.6rem;
}
.navbar__profile {
  position: relative;
  bottom: 1.3rem;
  left: 5rem;
}
.navbar__signout {
  position: relative;
  bottom: 1rem;
  right: 4rem;
}
.navbar__signout img,
.navbar__profile img {
  width: 50px;
  cursor: pointer;
}

/* #navbar li a:hover {
  border-radius: 5px;
  background-color: rgb(216, 213, 213);
  color: whitesmoke;
}

#navbar ul:hover li {
  filter: blur(2px);
}

#navbar ul li:hover {
  opacity: 1;
  filter: blur(0px);
} */
