<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Animals</title>
    <link rel="stylesheet" href="css/animals.css" />
    <link rel="stylesheet" href="css/nav.css" />
    <link rel="stylesheet" href="css/footer.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Viga"
    />
    <script src="js/authorization.js"></script>
    <script src="js/animals.js" defer></script>
  </head>
  <body>
    <!-- Menu -->
    <header>
      <nav class="nav">
        <a href="/profile" id="menu_item6"
          ><img src="/pictures/profile_img.png" alt="profile" class="profile"
        /></a>
        <a href="./animals" id="menu_item1">Animals</a>
        <a href="./help" id="menu_item2">Help</a>
        <a href="./home" id="menu_item5"
          ><img src="/pictures/zom.png" alt="zom" class="logo"
        /></a>
        <a href="./settings" id="menu_item3">Settings</a>
        <a href="./about" id="menu_item4">About</a>
        <a href="./login" id="menu_item7"
          ><img src="/pictures/sign_out.png" alt="log" class="sign"
        /></a>
      </nav>
      <div class="imgOverlay">
        <img src="/pictures/all.jpg" id="banner" alt="banner" />
        <div class="overlay"></div>
      </div>
      <button id="burger" class="open-main-nav">
        <span class="burger"></span>
        <span class="burger-text">Menu</span>
      </button>

      <nav class="main-nav" id="main-nav">
        <div class="mimages-cont">
          <a href="/profile"
            ><img src="/pictures/profile_img.png" id="prof1" alt="profile"
          /></a>
          <a href="./login"
            ><img src="/pictures/sign_out.png" id="sign1" alt="log"
          /></a>
        </div>
        <ul>
          <li>
            <p>
              <a href="./home">Home</a>
            </p>
          </li>

          <li>
            <p>
              <a href="./help">Help</a>
            </p>
          </li>
          <li>
            <p>
              <a href="./animals">Animals</a>
            </p>
          </li>

          <li>
            <p><a href="./settings">Settings</a></p>
          </li>
          <li>
            <p><a href="./about">About Us</a></p>
          </li>
        </ul>
      </nav>
    </header>

    <!-- Actual Page starting -->

    <div class="animals__main__container">
      <div class="animals__left__container">
        <div class="q-a">
          <input
            class="toggle-box"
            id="habitat_characteristic-1"
            type="checkbox"
          />
          <label for="habitat_characteristic-1">Habitat</label>
          <div>
            <div>
              <input
                id="habitat_characteristic-2"
                name="Habitat"
                type="checkbox"
                value="yes"
              />

              <label for="habitat_characteristic-2">Desert </label>
              <div></div>
              <input
                id="habitat_characteristic-3"
                name="Habitat"
                type="checkbox"
                value="yes"
              />

              <label for="habitat_characteristic-3">Oceans </label>
              <div>
                <input
                  id="habitat_characteristic-4"
                  name="Habitat"
                  type="checkbox"
                  value="yes"
                />
                <label for="habitat_characteristic-4">Savana </label>
              </div>
            </div>
          </div>
        </div>
        <div class="q-a">
          <input
            class="toggle-box"
            id="diet_characteristic-1"
            type="checkbox"
          />
          <label for="diet_characteristic-1">Diet</label>
          <div>
            <div>
              <input
                id="diet_characteristic-2"
                name="Habitat"
                type="checkbox"
                value="yes"
              />

              <label for="diet_characteristic-2">Carnivore </label>
              <div></div>
              <input
                id="diet_characteristic-3"
                name="Habitat"
                type="checkbox"
                value="yes"
              />

              <label for="diet_characteristic-3">Herbivore </label>
              <div>
                <input
                  id="diet_characteristic-4"
                  name="Habitat"
                  type="checkbox"
                  value="yes"
                />
                <label for="diet_characteristic-4">Omnivore </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="animals__right__container">
        <div class="card">
          <img
            src="/pictures/indPic/amphibians.jpg"
            class="card__img"
            alt="amphibian"
          />
          <h2 class="card__title">Amphibian</h2>
          <div class="card__content">
            <div class="card__sizeContainer">
              <p class="card__sizeTitle">Habitat:</p>
              <span class="card__sizeNumber">Jungle</span>
            </div>
            <div class="card__colorContainer">
              <p class="card__colorTitle">Class:</p>
              <span class="card__colorCircle" style="background-color: #fff"
                >Amphibian</span
              >
            </div>
          </div>
          <a href="./animal" class="card__link">View</a>
        </div>
        <div class="card">
          <img
            src="/pictures/indPic/amphibians.jpg"
            class="card__img"
            alt="amphibian"
          />
          <h2 class="card__title">Amphibian</h2>
          <div class="card__content">
            <div class="card__sizeContainer">
              <p class="card__sizeTitle">Habitat:</p>
              <span class="card__sizeNumber">Jungle</span>
            </div>
            <div class="card__colorContainer">
              <p class="card__colorTitle">Class:</p>
              <span class="card__colorCircle" style="background-color: #fff"
                >Amphibian</span
              >
            </div>
          </div>
          <a href="./animal" class="card__link">View</a>
        </div>
        <div class="card">
          <img
            src="/pictures/indPic/amphibians.jpg"
            class="card__img"
            alt="amphibian"
          />
          <h2 class="card__title">Amphibian</h2>
          <div class="card__content">
            <div class="card__sizeContainer">
              <p class="card__sizeTitle">Habitat:</p>
              <span class="card__sizeNumber">Jungle</span>
            </div>
            <div class="card__colorContainer">
              <p class="card__colorTitle">Class:</p>
              <span class="card__colorCircle" style="background-color: #fff"
                >Amphibian</span
              >
            </div>
          </div>
          <a href="./animal" class="card__link">View</a>
        </div>
        <div class="card">
          <img
            src="/pictures/indPic/amphibians.jpg"
            class="card__img"
            alt="amphibian"
          />
          <h2 class="card__title">Amphibian</h2>
          <div class="card__content">
            <div class="card__sizeContainer">
              <p class="card__sizeTitle">Habitat:</p>
              <span class="card__sizeNumber">Jungle</span>
            </div>
            <div class="card__colorContainer">
              <p class="card__colorTitle">Class:</p>
              <span class="card__colorCircle" style="background-color: #fff"
                >Amphibian</span
              >
            </div>
          </div>
          <a href="./animal" class="card__link">View</a>
        </div>
        <div class="card">
          <img
            src="/pictures/indPic/amphibians.jpg"
            class="card__img"
            alt="amphibian"
          />
          <h2 class="card__title">Amphibian</h2>
          <div class="card__content">
            <div class="card__sizeContainer">
              <p class="card__sizeTitle">Habitat:</p>
              <span class="card__sizeNumber">Jungle</span>
            </div>
            <div class="card__colorContainer">
              <p class="card__colorTitle">Class:</p>
              <span class="card__colorCircle" style="background-color: #fff"
                >Amphibian</span
              >
            </div>
          </div>
          <a href="./animal" class="card__link">View</a>
        </div>
        <div class="card">
          <img
            src="/pictures/indPic/amphibians.jpg"
            class="card__img"
            alt="amphibian"
          />
          <h2 class="card__title">Amphibian</h2>
          <div class="card__content">
            <div class="card__sizeContainer">
              <p class="card__sizeTitle">Habitat:</p>
              <span class="card__sizeNumber">Jungle</span>
            </div>
            <div class="card__colorContainer">
              <p class="card__colorTitle">Class:</p>
              <span class="card__colorCircle" style="background-color: #fff"
                >Amphibian</span
              >
            </div>
          </div>
          <a href="./animal" class="card__link">View</a>
        </div>
        <div class="card">
          <img
            src="/pictures/indPic/amphibians.jpg"
            class="card__img"
            alt="amphibian"
          />
          <h2 class="card__title">Amphibian</h2>
          <div class="card__content">
            <div class="card__sizeContainer">
              <p class="card__sizeTitle">Habitat:</p>
              <span class="card__sizeNumber">Jungle</span>
            </div>
            <div class="card__colorContainer">
              <p class="card__colorTitle">Class:</p>
              <span class="card__colorCircle" style="background-color: #fff"
                >Amphibian</span
              >
            </div>
          </div>
          <a href="./animal" class="card__link">View</a>
        </div>
        <div class="card">
          <img
            src="/pictures/indPic/amphibians.jpg"
            class="card__img"
            alt="amphibian"
          />
          <h2 class="card__title">Amphibian</h2>
          <div class="card__content">
            <div class="card__sizeContainer">
              <p class="card__sizeTitle">Habitat:</p>
              <span class="card__sizeNumber">Jungle</span>
            </div>
            <div class="card__colorContainer">
              <p class="card__colorTitle">Class:</p>
              <span class="card__colorCircle" style="background-color: #fff"
                >Amphibian</span
              >
            </div>
          </div>
          <a href="./animal" class="card__link">View</a>
        </div>
        <div class="card">
          <img
            src="/pictures/indPic/amphibians.jpg"
            class="card__img"
            alt="amphibian"
          />
          <h2 class="card__title">Amphibian</h2>
          <div class="card__content">
            <div class="card__sizeContainer">
              <p class="card__sizeTitle">Habitat:</p>
              <span class="card__sizeNumber">Jungle</span>
            </div>
            <div class="card__colorContainer">
              <p class="card__colorTitle">Class:</p>
              <span class="card__colorCircle" style="background-color: #fff"
                >Amphibian</span
              >
            </div>
          </div>
          <a href="./animal" class="card__link">View</a>
        </div>
        <div class="card">
          <img
            src="/pictures/indPic/amphibians.jpg"
            class="card__img"
            alt="amphibian"
          />
          <h2 class="card__title">Amphibian</h2>
          <div class="card__content">
            <div class="card__sizeContainer">
              <p class="card__sizeTitle">Habitat:</p>
              <span class="card__sizeNumber">Jungle</span>
            </div>
            <div class="card__colorContainer">
              <p class="card__colorTitle">Class:</p>
              <span class="card__colorCircle" style="background-color: #fff"
                >Amphibian</span
              >
            </div>
          </div>
          <a href="./animal" class="card__link">View</a>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer-top">
        <img src="/pictures/zom.png" alt="Bestest Zoo Evr Logo" />
      </div>
      <hr class="foot" />
      <div class="footer-bottom">
        <p>&copy; 2023 Bestest Zoo Evr</p>
        <ul>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Use</a></li>
        </ul>
      </div>
    </footer>
    <script src="js/nav.js"></script>
  </body>
</html>

<!-- <div class="card">
    <img src="/pictures/amphibians.jpg" class="card__img">
    <h2 class="card__title">Amphibian</h2>
    <div class="card__content">
      <div class="card__sizeContainer">
        <p class="card__sizeTitle">Habitat:</p>
        <span class="card__sizeNumber">Jungle</span>
      </div>
      <div class="card__colorContainer">
        <p class="card__colorTitle">Class:</p>
        <span class="card__colorCircle" style="background-color: #fff"
          >Amphibian</span
        >
      </div>
    </div>
    <a href="/animal_id/animal" class="card__link">View</a>
  </div> -->
