<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manage animals</title>
    <link rel="stylesheet" href="css/users.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Viga"
    />
    <script src="js/authorization.js"></script>
    <script src="js/animals_admin.js" defer></script>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Animal id</th>
          <th>Name</th>
          <th>Image 1</th>
          <th>Image 2</th>
        </tr>
      </thead>
      <tbody class="animals">
        <tr>
          <td>Celula 1</td>
          <td>Celula 2</td>
          <td>Celula 3</td>
          <td>Celula 4</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
