<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="css/login.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Viga"
    />
  </head>
  <body>
    <div class="container">
      <div class="form">
        <img class="logo" src="../pictures/zom.png" alt="logo" />
        <form method="post" action="/api/login">
          <div class="inputs">
            <div class="txt_field">
              <input type="password" name="new_password" required />
              <label>New Password</label>
            </div>

            <div class="txt_field">
              <input type="password" name="confirm_password" required />
              <label>Confirm Password</label>
            </div>
          </div>
          <input type="submit" value="Confirm" />
          
        </form>
      </div>
      <img class="picture" src="../pictures/lemur2.png" alt="lemur" />
    </div>
  </body>
</html>
