<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password Page</title>
    <link rel = "stylesheet" href="css/forgot.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Viga">

</head>
<body>
<div class="container">
    <div class="form">
        <img class="logo" src="../pictures/zom.png" alt="logo">
        <form method="post">
         <div class="inputs">
            <div class="txt_field">
                <input type ="email" required>
                
                <label>Email</label>
            
        </div>
     <input type="submit" value = "Send code" />
     
        </form>

    </div>
</div>
    <span class="picture">
    <img class="picture" src="../pictures/lemur2.png" alt="lemur">
</span>
</div>
</body>
</html>