<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="css/login.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Viga"
    />
    <script src="js/login.js" defer></script>
  </head>
  <body>
    <div class="container">
      <div class="form">
        <img class="logo" src="/pictures/zom.png" alt="logo" />
        <form name="loginForm">
          <div class="inputs">
            <div class="txt_field">
              <input type="email" name="email" required />
              <label>Email</label>
            </div>

            <div class="txt_field">
              <input type="password" name="password" required />
              <label>Password</label>
            </div>
          </div>

          
          <input type="submit" id="submitButton" value="Submit"></input>

          <div class="signup_link">
            Not a member? <a href="./register"> Register</a>
          </div>
          <div class="forgot_link">
            <a href="forgotPassword"> Forgot Password</a>
          </div>
        </form>
      </div>
      <img class="picture" src="/pictures/lemur2.png" alt="lemur" />
    </div>
  </body>
</html>
