<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/css/profile.css" />
  <link rel="stylesheet" href="/css/footer.css" />
  <link rel="stylesheet" href="/css/nav.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Viga" />
  <script src="js/authorization.js"></script>
  <script src="js/profile.js" defer></script>
  <script src="js/checkTheme.js" ></script>


  <style>
    body {
      font-family: "Montserrat", sans-serif;
    }

    nav {
      font-family: "Viga";
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    }
  </style>
  <title>Profile</title>
</head>

<body>
  <header>
    <nav class="nav">
      <a href="./profile" id="menu_item6"><img src="/pictures/profile_img.png" alt="profile" class="profile" /></a>
      <a href="./animals" id="menu_item1">Animals</a>
      <a href="./help" id="menu_item2">Help</a>
      <a href="./home" id="menu_item5"><img src="/pictures/zom.png" alt="zom" class="logo" /></a>
      <a href="./settings" id="menu_item3">Settings</a>
      <a href="./about" id="menu_item4">About</a>
      <a href="./login" id="menu_item7"><img src="/pictures/sign_out.png" alt="log" class="sign" /></a>
    </nav>
    <div class="imgOverlay">
      <img src="/pictures/giraffe.jpg" id="banner" alt="banner" />
      <div class="overlay"></div>
    </div>
    <button id="burger" class="open-main-nav">
      <span class="burger"></span>
      <span class="burger-text">Menu</span>
    </button>

    <nav class="main-nav" id="main-nav">
      <div class="mimages-cont">
        <a href="./profile"><img src="../pictures/profile_img.png" id="prof1" alt="profile" /></a>
        <a href="./login"><img src="../pictures/sign_out.png" id="sign1" alt="log" /></a>
      </div>
      <ul>
        <li>
          <p>
            <a href="./home">Home</a>
          </p>
        </li>

        <li>
          <p>
            <a href="./help">Help</a>
          </p>
        </li>
        <li>
          <p>
            <a href="./animals">Animals</a>
          </p>
        </li>

        <li>
          <p><a href="./settings">Settings</a></p>
        </li>
        <li>
          <p><a href="./about">About Us</a></p>
        </li>
      </ul>
    </nav>
  </header>

  <div class="form-container">
    <div class="information-container">
      <div class="current-information">
        <h2>Current Information</h2>
        <div class="current-information-content">
          <div>
            <img src="https://via.placeholder.com/150" alt="Profile Picture" id="profile_img" />
          </div>
          <div>
            <p><strong>First Name:</strong> <span id="current-first-name"></span></p>
            <p><strong>Last Name:</strong> <span id="current-last-name"></span></p>
            <p><strong>Phone Number:</strong> <span id="current-phone-number"></span></p>
            <p><strong>Email Address:</strong> <span id="current-email"></span></p>
            <p><strong>Occupied Position:</strong> <span id="current-occupied-position"></span></p>
            <p><strong>Admin:</strong> <span id="current-admin"></span></p>

          </div>
        </div>
      </div>
    </div>


    <form name="info_form">
      <div class="information-container">
        <div class="update-information">
          <h2>Update Information</h2>

          <div class="sec-in-cont">
            <label for="profile-picture">Profile Picture:</label>
            <input type="file" id="profile-picture" name="profile-picture" accept="image/*"/>
          </div>

          <label for="first-name">First Name:</label>
          <input type="text" id="first-name" name="first-name"  />

          <label for="last-name">Last Name:</label>
          <input type="text" id="last-name" name="last-name"  />

          <label for="phone-number">Phone Number:</label>
          <input type="tel" id="phone-number" name="phone-number"  />

          <label for="email">Email Address:</label>
          <input type="email" id="email" name="email"  />

          <label for="occupied-position">Occupied Position:</label>
          <input type="text" id="occupied-position" name="occupied-position" />
          <div class="sub-container">
            <input type="submit" id="submit_button_info" value="Save Information"/>
          </div>
        </div>
      </div>
    </form>

    <form name="changepass_form">
      <div class="information-container">
        <div class="change-password-container">
          <h2>Change Password</h2>

          <label for="current-password">Current Password:</label>
          <input type="password" id="current-password" name="current-password" required />

          <label for="new-password">New Password:</label>
          <input type="password" id="new-password" name="new-password"  required/>

          <label for="confirm-new-password">Confirm New Password:</label>
          <input type="password" id="confirm-new-password" name="confirm-new-password" required />
          <div class="sub-container">
            <input type="submit" id="submit_button_pass" value="Change Password"/>
          </div>
        </div>
      </div>
    </form>

    <form name="tickets_form">
      <div class="information-container">
        <div class="submit-ticket-container">
          <h2>Submit Ticket</h2>

          <label for="section">Section:</label>
          <input type="text" id="section" name="section" required />

          <label for="manager">Manager:</label>
          <input type="text" id="manager" name="manager" required />

          <label for="desc">Short Description:</label>
          <input type="text" id="desc" name="desc" required />
          <div class="sub-container">
            <input type="submit" id="submit_button_ticket" value="Submit Ticket"/>
          </div>
        </div>
      </div>
    </form>
  </div>

  <footer>
    <div class="footer-top">
      <img src="/pictures/logo.png" alt="Bestest Zoo Evr Logo" />
    </div>
    <hr />
    <div class="footer-bottom">
      <p>&copy; 2023 Bestest Zoo Evr</p>
      <ul>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Use</a></li>
      </ul>
    </div>
  </footer>
  <script src="/js/nav.js"></script>

</body>

</html>