
.imgOverlay{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
     z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
   
}
#banner {
    display: block;
    width: 100%;
    object-fit: contain;
    margin-top: -10%;

} 
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 35, 35, 0.5);
  } 
.nav_container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
  transform: translate(0,20%);
    padding-top: 50px;
  }

.nav {
    position: absolute;
    display: grid;
    
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    margin: auto;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Viga';
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    z-index: 1;
}

  .logo{
    
    width: 100%;
    margin: 0;
    padding: 0;
  }
  a img.profile {
    width:60%;
    
  }
a img.sign{
    width: 60%;
}
  .nav a {
    text-decoration: none;
    color: #ffffff;
text-align: center;
    transition: all 0.2s ease-in-out;
  }
  
  .nav a:hover {
    transform: translateY(-5px);
  }
  
  
        /* #navbar li a:hover {
    border-radius: 5px;
    background-color: rgb(216, 213, 213);
    color: whitesmoke;
  }
  
  #navbar ul:hover li {
    filter: blur(2px);
  }
  
  #navbar ul li:hover {
    opacity: 1;
    filter: blur(0px);
  } */
  
        /* Main menu positionning */
        .main-nav {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          text-align: center;
          background: #dfdce3;
          opacity: 0;
          z-index: -1;
          visibility: hidden;
          transition: all 0.375s;
        }
  
        .main-nav.is-open {
          opacity: 1;
          z-index: 100;
          visibility: visible;
        }
  
        /* green band effect */
        .main-nav::before {
          content: "";
          position: fixed;
          top: 0;
          bottom: 0;
          left: 0;
          right: -15px;
          background: #198f07a6;
          transform-origin: 0 0;
          transform: skew(-14deg) translateX(-120%);
          transition: all 0.275s 0.1s;
        }
  
        .main-nav.is-open::before {
          transform: skew(-14deg) translateX(0);
        }
        
        
        .main-nav ul {
          display: inline-flex;
          flex-direction: column;
          height: 100%;
          align-items: flex-end;
          justify-content: center;
          transform: translateX(-18%) skew(-16deg);
        }
        /* .icon-container{
          position: absolute;
        }*/
        .icon{
          width:50px !important;
        
        } 
        #sign{
          left:-4px !important;
        }
        .main-nav li {
          display: block;
          margin: 0.5rem 0;
          text-align: right;
          transform: skew(16deg);
        }
  
        .main-nav a {
          opacity: 0;
          transform: translateY(-10px);
        }
  
        .main-nav.is-open a {
          opacity: 1;
          transform: translateY(0);
        }
        .main-nav li:nth-child(1) a {
          transition: all 275ms 175ms;
        }
        .main-nav li:nth-child(2) a {
          transition: all 275ms 225ms;
        }
        .main-nav li:nth-child(3) a {
          transition: all 275ms 275ms;
        }
        .main-nav li:nth-child(4) a {
          transition: all 275ms 325ms;
        }
        .main-nav li:nth-child(5) a {
          transition: all 275ms 375ms;
        }
        .main-nav li:nth-child(6) a {
          transition: all 275ms 375ms;
        }
  
        .main-nav li:nth-child(7) a {
          transition: all 275ms 375ms;
        }
  
  
        .main-nav ul,
        .main-nav li {
          list-style: none;
          padding: 0;
        }
        .main-nav p a {
          display: block;
         
          color: #f5f5f5;
          font-size: 1.4em;
          text-decoration: none;
          font-weight: bold;
        }
        .main-nav p a img {
          position: relative;
          width: 100px;
          left: 1rem;
          
        }
  
        .open-main-nav {
          position: fixed;
          top: 15px;
          padding-top: 20px;
          right: 15px;
          z-index: 1000;
          background: none;
          border: 0;
          cursor: pointer;
        }
        .open-main-nav:focus {
          outline: none;
        }
        .burger {
          position: relative;
          display: block;
          width: 28px;
          height: 4px;
          margin: 0 auto;
          background: #dfdce3;
          transform: skew(5deg);
          transition: all 0.275s;
        }
  
        .burger:after,
        .burger:before {
          content: "";
          display: block;
          height: 100%;
          background: #dfdce3;
          transition: all 0.275s;
        }
  
        .burger:after {
          transform: translateY(-12px) translateX(-2px) skew(-20deg);
        }
  
        .burger:before {
          transform: translateY(-16px) skew(-10deg);
        }
  
        .is-open .burger {
          transform: skew(5deg) translateY(-8px) rotate(-45deg);
        }
  
        .is-open .burger:before {
          transform: translateY(0px) skew(-10deg) rotate(75deg);
        }
  
        .is-open .burger:after {
          transform: translateY(-12px) translateX(10px) skew(-20deg);
          opacity: 0;
        }
  
        .burger-text {
          display: block;
          font-size: 0.75rem;
          letter-spacing: 0.05em;
          margin-top: 0.5em;
          text-transform: uppercase;
          font-weight: 500;
          text-align: center;
          color: #dfdce3;
        }
  
        @media only screen and (max-width: 650px) {
          .nav_container {
            display: none;
          }
        }
  
        @media only screen and (min-width: 650px) {
          #burger {
            display: none;
          }
        }