body {
  display: flex;
  flex-direction: column;
}
.imgOverlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}

#banner {
  display: block;
  width: 100%;
  object-fit: contain;
  margin-top: -10%;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 35, 35, 0.5);
}
nav {
  font-family: 'Viga';
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}
.nav_container {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  transform: translate(0, 20%);
  padding-top: 50px;
}

.nav {
  position: absolute;
  display: grid;

  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  align-items: center;
  margin: auto;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Viga';
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.logo {

  width: 80%;
  height: auto;
  margin: 0;
  padding: 0;
}

a img.profile {
  width: 60%;

}

a img.sign {
  width: 60%;
}

.nav a {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.nav a#menu_item1:hover {
  transform: translateY(-5px);
}

.nav a#menu_item2:hover {
  transform: translateY(-5px);

}

.nav a#menu_item3:hover {
  transform: translateY(-5px);

}

.nav a#menu_item4:hover {
  transform: translateY(-5px);
}

.nav a#menu_item5:hover {
  transform: translateY(-5px);
}

.nav a#menu_item6:hover {
  transform: translateY(-5px);
}

.nav a#menu_item7:hover {
  transform: translateY(-5px);
}

.main-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background: #dfdce3;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: all 0.375s;
}

.main-nav.is-open {
  opacity: 1;
  z-index: 100;
  visibility: visible;
}

.main-nav::before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: -15px;
  background: #198f07a6;
  transform-origin: 0 0;
  transform: skew(-14deg) translateX(-120%);
  transition: all 0.275s 0.1s;
}

.main-nav.is-open::before {
  transform: skew(-14deg) translateX(0);
}

.main-nav img {
  display: block;
  position: absolute;

}

.main-nav #sign {
  margin-left: 20%;
  margin-top: 2%;
}

.main-nav ul {
  display: inline-flex;
  flex-direction: column;
 
  align-items: flex-end;
  justify-content: center;
  transform: translateX(-18%) skew(-16deg);
}

.main-nav li {
  display: block;
  margin: 0.5rem 0;
  text-align: right;
  transform: skew(16deg);
}

.main-nav a {
  opacity: 0;
  transform: translateY(-10px);
}

.main-nav.is-open a {
  opacity: 1;
  font-size: 3vw;
  transform: translateY(0);
}

.main-nav li:nth-child(1) a {
  transition: all 275ms 175ms;
}

.main-nav li:nth-child(2) a {
  transition: all 275ms 225ms;
}

.main-nav li:nth-child(3) a {
  transition: all 275ms 275ms;
}

.main-nav li:nth-child(4) a {
  transition: all 275ms 325ms;
}

.main-nav li:nth-child(5) a {
  transition: all 275ms 375ms;
}

.main-nav ul,
.main-nav li {
  list-style: none;
  padding: 0;
}

.main-nav p a {
  display: block;
  padding: 12px 0;
  color: #f5f5f5;
  font-size: 1.4em;
  text-decoration: none;
  font-weight: bold;
}

.main-nav p a img {
  position: relative;
  width: 100px;
  left: 1rem;
  top: 1rem;
}



.open-main-nav {
  position: fixed;
  top: 15px;
  padding-top: 20px;
  right: 15px;
  z-index: 1000;
  background: none;
  border: 0;
  cursor: pointer;
}

.open-main-nav:focus {
  outline: none;
}

.burger {
  position: relative;
  display: block;
  width: 28px;
  height: 4px;
  margin: 0 auto;
  background: #dfdce3;
  transform: skew(5deg);
  transition: all 0.275s;
}

.burger:after,
.burger:before {
  content: "";
  display: block;
  height: 100%;
  background: #dfdce3;
  transition: all 0.275s;
}

.burger:after {
  transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.burger:before {
  transform: translateY(-16px) skew(-10deg);
}

.is-open .burger {
  transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open .burger:before {
  transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .burger:after {
  transform: translateY(-12px) translateX(10px) skew(-20deg);
  opacity: 0;
}

.burger-text {
  display: block;
  font-size: 0.75rem;
  letter-spacing: 0.05em;
  margin-top: 0.5em;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  color: #dfdce3;
}

.mimages-cont {
  display: block;
  max-width: 90%;
  margin-top: 20px;
  margin-left: 10px;
}

#prof1 {
  max-width: 10%;
  height: auto;
}

#sign1 {
  max-width: 10%;
  height: auto;
  margin-left: 50px;
}


@media only screen and (max-width: 600px) {
  .nav {
      display: none;
  }
}

@media only screen and (min-width: 600px) {
  #burger {
      display: none;
  }
}


@media screen and (max-width: 830px) {
  .main-nav.is-open a {
      font-size: 6vw;
  }
}

@media only screen and (max-width: 300px) {

  #prof1,
  #sign1 {
      width: 80%;

  }

  #sign1 {
      margin-left: 50px;
  }
}